/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Roboto, sans-serif;
    background: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
}

/* Image container */
.image-container {
    width: 1600px;
    height: 450px;
    margin-top: 65px;
}

/* Image */
img {
    width: 1100px;
    height: 450px;
}

/* Heading */
h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
}

/* Navigation */
nav {
    margin: 30px;
}

/* Navigation links */
nav a {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

/* Hyperlink */
a {
    color: #0a2d4a;
    font-weight: bold;
}

/* Article image */
article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

/* Paragraph */
article p {
    line-height: 1.5;
    margin-bottom: 15px;
}

/* First letter of paragraph */
article p::first-letter {
    font-family: EucrosiaUPC, sans-serif;
    font-size: 40px;
}

/* Hyperlink inside span */
span a {
    background: url("images/bg2.jpg");
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
}

/* Comments box */
article p:last-of-type span:first-of-type a::before {
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}

/* Footer */
footer {
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}
